/*BS*/
.nav-fondo{
    background-color: #253745;
    display: flex;
}
.nav-color{
    color: #ccd0cf;
    text-decoration: none;
}
.color-boton{
    color: #ccd0cf;
}
.cont-car{
    width: 100%;
    height: 100%;
}
.cont-car img{
    width: 100%;
    object-fit: cover;
}
.cont-car-merch img{
    width: 100%;
    object-fit: cover;
}